
.fav{
	background-color: rgb(9, 141, 5);
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	line-height: 50px;
	cursor: pointer;
}



.details
{
    padding: 30px;
    background-color: rgb(19, 185, 149);
    border-radius: 3px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.8);
    overflow: hidden;
}
.text
{
    font-size: 20px;
}

